<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removing All Application</title>
</head>
<script>
	function confirm_sub(){
		return window.confirm("Are you sure you want to remove all applications?");
	}
</script>
<body>
	<h1>Removing All Application</h1>
	
    <br>
		<form action="/removeApp" onsubmit="return confirm_sub()" method="post">
			<input type="submit" value="Remove all applicants"/>
		</form>
	<hr> 
    <a href="/">HOME</a>
</body>
</html>