<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removal of All Application</title>
</head>

<body>
	<h2>Removal of All Application</h2>
	
	<p>All applications have been removed from the database. Number of applications removed: <%- count %></p>
	
    <a href="/">HOME</a>
</body>
</html>